.toKillAMockingBird {
    display: flex;
    border:#333;
    align-items: flex-start;
    gap: 20px;
    margin: 5% 10%;
  }

.toKillAMockingBird img {
    height: 20%;
    width: 20%;
    display: block;
}

.book-description {
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    font-size: 85%;
    background-color: #333;
  }

  .pay-button {
    background-color: #f72b57;
    color: white;
    padding: 10px 20px;
    border:#333;
    border-radius: 8px;
    cursor: pointer;
    font-size: 90%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .pay-button:hover {
    background-color: #b1193a;
  }